---
const pages = [
    {
        slug: undefined,
        title: "Home",
        text: "This is the home page",
    },
    {
        slug: "profile",
        title: "Profile",
        text: "This is the profile page",
    },
    {
        slug: "settings",
        title: "Settings",
        text: "This is the settings page",
    },
];

const { slug } = Astro.params;
const page = pages.find((page) => page.slug === slug);
if (!page) return Astro.redirect("/404");

const { title, text } = page;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{title}</title>
    </head>
    <body>
        <h1>{title}</h1>
        <p>{text}</p>
    </body>
</html>
