---
import NavLinks from "../components/NavLinks.astro";
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div>
        <NavLinks/>
        <h1>About me</h1>
        <h2>... and my astro page</h2>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum,
            porro! Excepturi odio nihil velit praesentium quasi in modi
            architecto saepe consequuntur, nulla, debitis quaerat doloribus at
            reprehenderit eum, deserunt sit?
        </p>
    </div>
</Layout>
