---
import NavLinks from "../components/NavLinks.astro";


---

<body>
    <div>
        <NavLinks/>
        <h1>Blog</h1>
        <h2>... and my astro page</h2>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum,
            porro! Excepturi odio nihil velit praesentium quasi in modi
            architecto saepe consequuntur, nulla, debitis quaerat doloribus at
            reprehenderit eum, deserunt sit?

            <a href="/posts/post-1">See more...</a>
        </p>
    </div>
</body>